body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

.card {
    background: #1e293b;
    padding: 25px;
    border-radius: 10px;
    width: 320px;
    text-align: center;
}

input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: none;
}

button {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background: #38bdf8;
    cursor: pointer;
    font-weight: bold;
}

#result {
    margin-top: 15px;
}